<% include partials/head %>

	<title>Produce your music</title>
	<style>
	/*put inline css here*/
	h3{
		font-size: 1.3em;
	}
	h3 span{
		font-size: 1.1em;
		color: #78a0a0;
		font-weight: bold;
		padding-left: 12px;
	}
	
	h3 i{
		padding-left: 20px;
	}

	</style>
	
</head>	
	
<body>
<% include partials/navbar %>
	<!-- Track name and information -->
	
	<div class="container" style="margin-bottom: 10px;">
		<div class="col-lg-8"><h3><%=trackName%></h3></div>
		<div class="col-lg-2"><h3>Tempo <span><%=tempo %></span></h3></div>
		<div class="col-lg-2"><h3>Tonality <span style=" text-transform: uppercase;"><%=tonality%></span></h3></div>
	</div>
	
	 <!-- edition board  -->
	<div class="container" >
	 <div id="loadingLayer">	
		<!--transparent canvas-->
		<div class="board-layer"></div>	
		<h2 class="loading-text">Loading Instrument Library</h2>
		<!--loading cycle-->
		<div class="loader"></div>
		
		<div id="myProgress" class="disable">
			<div id="myBar">10%</div>
		</div>
		
	 </div>
	 <% var note=[{number:"1", notes:"c"},
              {number:"2", notes:"d"},
              {number:"3", notes:"e"},
              {number:"4", notes:"f"},
              {number:"5", notes:"g"},
              {number:"6", notes:"a"},
              {number:"7", notes:"b"}];
    	var notesReverse= note.reverse();%>
    <!--notes division-->
	 <% for(var i=1;i<=16;i++){ %>
		<div class="columes">
			 <% for(var j=3;j>0;j--){ %>
				<% notesReverse.forEach(function(el){ %>
					<div class="notesContext" id="<%=i%>_<%=j%>_<%=el.notes%>"><%= el.number %></div>
				<% }); %>
	 		 <% } %>
	 	<canvas id="canvas_<%=i%>" width="71.25px" height="20" class="pointer-canvas disable" >
		</canvas>	 
	 	</div>
	 <% } %>
	</div>
	 
	<!-- button below -->
	<div class="container ">
		<div class="layout-music-console disable" id="music-console">
			<div class="row">
				<!-- playback button and instrument change-->
				<div class="col-lg-3">
					<button class="instrument-button ">
						<object type="image/svg+xml" id="piano-icon" data="/img/piano.svg" >piano</object>
						<object type="image/svg+xml" id="strings-icon" data="/img/strings.svg" class="disable">string</object>
						<object type="image/svg+xml" id="wind-icon" data="/img/wind.svg" class="disable">wind</object>
						<object type="image/svg+xml" id="synth-icon" data="/img/synth.svg" class="disable">synth</object>		
					</button>
					<span class="instrumentName" id="piano-name">Piano</span>
					<span class="instrumentName hidden" id="strings-name">Strings</span>
					<span class="instrumentName hidden" id="wind-name">Wind</span>
					<span class="instrumentName hidden" id="synth-name">Synth</span>
					
					
				</div> <!-- end col-lg-3 -->
				<!--playback button-->
				<div class="col-lg-2">
					<button class="button-main-playback">
						<i class="fas fa-play playback-font"></i>
					</button>
				</div> <!-- end col-lg-2-->
				
				<!-- toggle switch -->
				<div class="col-lg-2">
						<div class="onoffswitch" style="margin:25px 0px;">
						    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
						    <label class="onoffswitch-label" for="myonoffswitch">
						        <span class="onoffswitch-inner"></span>
						        <span class="onoffswitch-switch"></span>
						    </label>
						</div>
				</div> <!-- end col-lg-2 -->
				
				<!-- other buttons: save, export -->
				<div class="col-lg-5" >
					<button class="button-on-edition-console" id="clean-btn">
					<i class="fas fa-redo icon-on-mainPage"></i>
					Clear</button>
					
					<!--this button store route information-->
					<button class="button-on-edition-console" id="save-btn"
					data-project=<%= projectID%> 
					data-user=<%= userID%>
					data-track=<%= trackID%> >
					<i class="fas fa-cloud icon-on-mainPage"></i>
					Save</button>
					
					<button class="button-on-edition-console" id="export-btn">
					<i class="fas fa-file-export icon-on-mainPage"></i>
					Leave</button>
				</div> <!-- end col-lg-5 -->
			</div>
		</div>	
		<!--<audio controls="controls">-->
		<!--Your browser does not support the audio element.-->
		<!--</audio>-->
	</div>
	
	<div id="dialog" title="MIDI"> </div>	
	
	
	
	
	<!--variables used in audio.js-->
	<script> 
		var notesSoundArr=<%- JSON.stringify(notesSoundArr) %>;
		var notesArray=<%- JSON.stringify(notesReverse)%>;
		var tempo=<%=tempo%>
	</script>
	
	<script src="/js/pointer.js"></script>
	<script src="/js/layer.js" ></script>
	<script src="/js/audio.js" ></script>
	<script src="/js/instrumentChange.js"></script>
	<script src="/js/consoleButton.js"></script>
	<script src="/js/midi.js"></script>
	
</body>
</html>
