<!--Bootstrap 3.3.7 
 pop up modal:reference: https://getbootstrap.com/docs/4.0/components/modal/#live-demo-->
<% include partials/head %>
	<title>My Tracks</title>
	<style>
	/*put inline css here*/
	h3{
		color: gray;
		padding-left: 5px;
		font-size:20px;
	}
	p{
		position: relative;
	    bottom: 25px;
	    left: 2px;
	    font-weight: bold;
	}
	</style>
	
</head>	
	
<body>
<% include partials/navbar %>
	<!-- Project Name, export button, and create track button -->
	<div class="container">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<h2><%=projectName%> </h2>
		</div><!--end col-lg-6 -->
		
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

			<button  type="button" class="button-create-tracks" data-toggle="modal" data-target="#newTrackModal" data-whatever="@mdo">New Track</button>
			
			<!--create tracks modal form -->
			<div class="modal fade" id="newTrackModal" tabindex="-1" 
				role="dialog" aria-labelledby="newTrackModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <!-- modal title -->
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="newTrackModalLabel">Create a New Track</h4>
			      </div>
				  <!--modal form -->
			      <div class="modal-body">
			        <form method="post" action="/user_<%=userID%>/projects_<%=projectID%>/tracks">
			          <div class="form-group">
			            <label for="recipient-name" class="control-label">track name:</label>
			            <input type="text" class="form-control" id="track-name" name="trackName" required>
			          </div>
			          <div class="modal-footer">
				        <button type="submit" class="btn btn-primary" id="create-track">Create</button>
			    	  </div>
			        </form>
			      </div> <!--end modal form-->
			    </div><!--end modal content-->
			  </div>
			</div><!--end create tracks modal form-->
	
			<button  type="button" class="button-export-tracks" data-toggle="modal" data-target="#exportModal" data-whatever="@mdo">Mix and Export</button>
			
		</div><!--end col-lg-6 -->
	</div> 	<!--container-->

	
	
	<!-- Track division -->
	<div class="container">	
		<% tracksInfo.forEach(function(el){ %> 
		    <div class="layout-tracks">
				<!-- title -->
				<div class="col-lg-4">
					<a href="/user_<%=userID%>/projects_<%=projectID%>/tracks_<%=el.track_id%>">
						<h3><%=el.track_name %></h3>
					</a>
				</div>
				<div class="col-lg-8" style="height:55px">
					<!--specturm-->
				</div>
				<!-- play button-->
				<div class="col-lg-2">
					<button  class="button-play"
							 data-url=<%=el.audio%>>Play</button>		
					<button class="button-delete-tracks" 
							data-id=<%= el.track_id %> 
							data-user=<%= userID%>
							data-project=<%=projectID%> >Delete</button>
				</div>
			</div><!--  end track outline -->
			
		<% })%>
	</div> <!-- end container -->
	
	
	
	<!-- console -->
	<div class="container">	
		    <div class="layout-track-console">
				<!-- console: adjust volume,reverb and compression -->
				<div class="col-lg-6">	
					<div class="col-lg-4">
					    <input type="range" min="0" max="100" data-degree-range="270" 
					    data-degree-offset="45" step="1" value="50" class="blue" id="volume">
					    <p class="font-console-name">Volume</p>
					</div>
					<div class="col-lg-4">
					    <input type="range" min="0" max="100" data-degree-range="270"
					    data-degree-offset="45" step="1" value="0" class="blue" id="reverb">
					    <p class="font-console-name">Reverb</p>
				    </div>
				    <div class="col-lg-4">
					    <input type="range" min="0" max="100" data-degree-range="270" 
					    data-degree-offset="45" step="1" value="50" class="blue" id="compression">
					    <p class="font-console-name">Compression</p>
				    </div>
				</div>
				<!-- play all tracks together -->
				<div class="col-lg-2">
					<button class="button-track-playback">
					<i class="fas fa-play playback-font"></i>
					</button>
				</div>
				<!--volume meter-->
				<div class="col-lg-4">
					<!--test tmp-->
					<button id="testBtn">stop</button>
				</div>
				
		</div><!--  end track outline -->
	</div> <!-- end container -->
	
	<script>
		var trackArray=<%-JSON.stringify(trackArray)%>;
		
	</script>
	
	<script src="/js/knob.js"></script>
	<script src="/js/mixer.js"></script>
	<script src="/js/deletion.js"></script>
	<script src="/js/updateData.js"></script>
	

</body>
	
</html>
